extends templates/template.pug

block main

    .item
        span.titulo HOLA,<br> SOY <br> REIMY,

    .item
        span.titulo SOY <br> DISEÑADOR GRÁFICO.<br>

        span.subtitulo <br>MÍ PASION 
        p.description EL BRANDING<br>Y DISEÑO 3D